@media print {
   body {
    background-color: #fff; }
	
h1 {
	color: #4A89DC !important;
}

	.py-3 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

	.print-only{
		visibility: visible !important;
		display: block;
	}
	
  .print-avatar {
	  position: absolute;
	  right: 0;
	  top: -20px;
  }
  
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
	
 .container .pl-3{
   padding: 20px !important;
 }	
 
 .container .pl-2 {
    padding: 20px !important;
 }
 
 .container .pl-lg-4 {
    padding: 20px !important;
 }
	
  .cover, .cover-bg {
    border-radius: 0; }
  .cover.shadow-lg {
    box-shadow: none !important; }

	.section {
		padding: 0.5rem!important;
	}

	.section:last-child {
		padding: 0.5rem!important;
	}
  
  .section-header {
		font-size: 1.75rem;
		text-align: left!important;
		margin-bottom: 1.5px;
	}
  
  
	.section-body {
		padding: 0.5rem;
		background-clip: border-box;
		border-right: none;
		border-top:none;
		border-left:none;
		box-shadow: none;
		border-radius: 0rem;
	}	
	
		.row {
		margin-top: 0px !important;
		margin-bottom; 0px !important;
	}

	.col-md-6 {
		flex: 0 0 auto ! important;
		width: 50% ! important;
	}

	.text-white {
		color:black;
	}
		
    .page-break {
        page-break-before: always; } 
 
  
	.progress {
		position: relative;
	}
	.progress:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		border-bottom: 2rem solid #eeeeee;
	}
	.progress-bar {
		position: absolute;
		height: 5px;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		border-bottom: 2rem solid #337ab7;
	}
	.progress-bar-success {
		border-bottom-color: #67c600;
	}
	.progress-bar-info {
		border-bottom-color: #5bc0de;
	}
	.progress-bar-warning {
		border-bottom-color: #f0a839;
	}
	.progress-bar-danger {
		border-bottom-color: #ee2f31;
	}
	
	
	.cover {
      border-radius: 10px; 
      border-bottom: #4A89DC
      border-radius: 1px;
	}
  

	.cover-bg {
	  background-color: #4A89DC !important;
	  border-radius: 10px 10px 0 0 !important;
	  padding: 0.5rem !important;;	  
	}
	  
	.organization{
	  color: #6c757d!important;
	  padding-bottom: 15px;
	}	
	
	.horizontal-line {
		 border-bottom: 1px solid #4A89DC;
		 padding-left: -2rem;
	}
}
